:root {
    --rojo: #E50914;
    --fondo: #141414; 
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
  }
  
  .contenedor{
    width: 90%;
    margin: auto;
  }

  header{
      padding: 30px 0;
  }

  header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

  header .logotipo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
  }

  header nav a{
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
  }

  header nav a:hover{
    color: #FFF;
  }


  .in-the-soop{
    font-size: 16px;
    min-height: 40.62em;
    color: #FFF;
    background: linear-gradient(rgb(0, 0, 0, .50) 0%, rgb(0, 0, 0, .50) 100%), url(../proyecto-pagina/img/056bbe34fb659ef4509a83eb3be63bde.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
  }

  .in-the-soop .contenedor{
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .in-the-soop .titulo {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
  }

  .in-the-soop .descripcion{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    max-width: 50%;
    margin-bottom: 20px;
  }

  .in-the-soop .boton{
    background: rgb(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    color: #FFF;
    margin-right: 20px;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 18px;
    text-decoration: none;
  }

  .in-the-soop .boton:hover{
    background: #FFF;
    color: #000;
  }

  .in-the-soop .boton i {
    margin-right: 20px;
  }

  .titulo2{
    font-size: 25px;
    color: #FFF;
  }
